<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body class="loggedin">
    <nav class="navtop">
        <div>
            <img src="static/css/logo.png" alt="Logo" class="nav-logo">
            <a href="{{ url_for('home') }}" aria-label="Home"><i class="fas fa-home"></i>Home</a>
            <a href="/viewliked" aria-label="View Liked Products"><i class="fas fa-heart"></i>Liked</a>
            <a href="/viewcart" aria-label="View Shopping Cart"><i class="fas fa-shopping-cart"></i>Cart</a>
            <a href="{{ url_for('profile') }}" aria-label="View Profile"><i class="fas fa-user-circle"></i>{{ username }}</a>
            <a href="{{ url_for('logout') }}" aria-label="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/like.js') }}"></script>
</body>

</html>
